<div class="container">
  <h1 class="page-header">Add Numbers to DB</h1>
  <form action="/number" method="POST">
    <div class="form-group">
      <label for="description">Enter numbers space separated</label>
      <textarea
        class="form-control"
        id="descriptionInput"
        rows="3"
        placeholder="E.g. 1 2 3 4 5 6"
        name="description"
      ></textarea>
    </div>
    <div style="clear: both"></div>
    <button type="submit" class="btn btn-secondary" style="margin-top: 15px">Submit</button>
  </form>
</div>
